body {
    background: #333 url(denim.png) repeat scroll 0 0;
    font-family: 'Palatino Linotype', 'Palatino', serif;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

code, var, kbd {
    font-family: 'Monofur', 'Inconsolata', 'Monaco', 'Consolas', monospace;
}

header {
    width: 40em;
    padding: 1em;
    margin: 1em auto;
    text-align: center;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #ccc, #fff);
    background: -moz-linear-gradient(top, #ccc, #fff);
    background: linear-gradient(top, #ccc, #fff);
}
    header a:link, header a:visited {
        color: black;
        text-decoration: none;
    }
    header a:hover, header a:active {
        color: blue;
    }

.query {
    width: 30em;
    padding: 1em;
    margin: 1em auto;
    text-align: left;
    border-radius: 15px;
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(top, #fff, #ccc);
}
    .query > h2 {
        margin: 0 0 1em;
    }
    .query form {
        margin: 0 auto 0.4em;
        text-align: center;
    }
        .query input {
            width: 10em;
        }

.content {
    width: 38em;
    padding: 1em;
    margin: 1em auto;
    border-radius: 15px;
    background: #eee;
    box-shadow: 0 0 15px #000;
}
