<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MIME type</title>
    <link rel="author" href="{{ url_for('static', filename='humans.txt') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mime.css') }}" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>
  <body>
    {% block body %}
      <header>
        <h1>MIME/type over HTTP</h1>
      </header>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
